<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayjin.mapper.CommentMapper">
    <!--留言查询-->
    <select id="queryAllComment" resultType="comment">
        select id,msgId,content,author,time,email,status from comments
    </select>
    <!--删除留言-->
    <update id="delCom" parameterType="comment">
        update comments set status='0' where id=#{id}
    </update>
</mapper>